---
layout: default
---
  {% if site.data.courses[page.course].alert %}
    <div class="container">
      <div class="alert alert-{{site.data.courses[page.course].alert.type}}" role="alert">
        {{site.data.courses[page.course].alert.message}}
      </div>
    </div>
  {% endif %}

  <header class="container-fluid page-title">
    <h1>{{ page.title | escape }}</h1>
    <hr/>
  </header>
  
  {% if site.data.courses[page.course].units[page.unit].pages %}
    <div class="container-fluid">
      <div class="row">
        <aside class="col-md-3 col-xs-12" style="width: '10%';" >
          <nav class="list-group" aria-label="Unit Navigation">
            {%- for item in site.data.courses[page.course].units[page.unit].pages -%}
                {% assign url = '/courses/' | append: page.course | append: '/' | append: item.url | append: '.html' %}
                <a href="{{ url | relative_url }} " class="list-group-item list-group-item-action {% if page.url == url %}active{% endif %}">{{ item.title }}</a>
            {%- endfor -%}
            <a href="{{ '/courses/' | append: page.course | append: '/' | append: site.data.courses[page.course].homepage | append: '.html' | relative_url }} " class="list-group-item list-group-item-action nav-list-home">Course Home</a>
          </nav>
        </aside>
        <main class="col-md-9 col-xs-12">
          {{ content }}
        </main>
      </div>

    </div>


  {% else %}
    <main class="container">
      {{ content }}
    </main>
  {% endif %}

{% if site.data.courses[page.course].units[page.unit].pages %}
  <nav class="container mt-5" aria-label="Previous/Next Navigation">
    <ul class="pagination pagination-lg course-pagination justify-content-center">
      {%- for item in site.data.courses[page.course].units[page.unit].pages -%}
        {% assign next_i = forloop.index0 | plus: 1 %}
        {% assign prev_i = forloop.index0 | minus: 1 %}
        {% assign url = '/courses/' | append: page.course | append: '/' | append: item.url | append: '.html' %}
        {% if page.url == url %}
          {% if site.data.courses[page.course].units[page.unit].pages[prev_i] and forloop.index0>0 %}
            <li class="page-item">
              <a class="page-link" href="{{'/courses/' | append: page.course | append: '/' | append: site.data.courses[page.course].units[page.unit].pages[prev_i].url | append: '.html' | relative_url}}"><i class="bi bi-chevron-left">&nbsp;</i>Previous</a>
            </li>
          {% endif %}
          {% if site.data.courses[page.course].units[page.unit].pages[next_i] and next_i!=0 %}
            <li class="page-item ms-auto">
              <a class="page-link" href="{{'/courses/' | append: page.course | append: '/' | append: site.data.courses[page.course].units[page.unit].pages[next_i].url | append: '.html' | relative_url}}">Next&nbsp;<i class="bi bi-chevron-right"></i></a>
            </li>
          {% endif %}
        {% endif %}
      {%- endfor -%}
    </ul>
  </nav>
{% endif %}